<h1>
    {{ title() }}
</h1>    


<input
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
        placeholder="Search..."
      />

<div>
    <a [routerLink]="['/add']" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add recipe</a>
</div>

<div class="mt-10 flex gap-x-6">
    @for (r of filteredRecipes(); track r.id) {
        <a [routerLink]="['/recipes', r.id]" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{{r.name}}</a>
    }
  
    @if (selectedRecipe().isFavorite) {
        <span class="favorite-badge">
            <fa-icon [icon]="faStar" />
        </span>
    }
</div>